# Discord Bot Configuration
CLIENT_ID=your_discord_client_id
CLIENT_SECRET=your_discord_client_secret
BOT_TOKEN=your_discord_bot_token
GUILD_ID=your_discord_guild_id
ROLE_ID=your_discord_role_id
REDIRECT_URI=http://localhost:3000/callback
BASE_URL=http://localhost:3000

# Cardano / Mesh Configuration
BLOCKFROST_API_KEY=your_blockfrost_api_key
NFT_POLICY_ID=your_nft_policy_id

# Andamio
ANDAMIO_API_KEY=ant_ABaigPPD_l4qqaPslHmuV6gkVtmIpmo5WW9cyL82ako=
REQUIRED_CREDENTIAL=your_required_credential

# Web Server Configuration
PORT=3000
